.filter-dropdown {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  max-height: 220px;
  width: 180px;
  overflow-y: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  font-size: 11px;
}

.header-container {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.durumlar_button {
  width: 150px;
  cursor: pointer;
  padding: 5px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 12px;
  text-align: start;
}
